body {
  margin: 0;
  text-align: center;
}

/* Definimos una clase para poner ancho máximo en nuestras gráficas */
.ct-chart {
  max-width: 750px;
  margin: 0 auto;
}

.ct-point {
  stroke-width: 20px;
}

/* Editamos los PIES */
.ct-chart-donut .ct-label {
  fill: black;
}
.ct-series-c .ct-slice-pie {
  fill: #1d2f6f;
}
