@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,700;1,400&display=swap');

body {
  margin: 0; 
  font-family: 'Roboto', sans-serif;
  padding-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/* Utility classes */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.regular {
  font-weight: 400;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.capitalize {
  text-transform: capitalize;
}

.text-right {
  text-align: right;
}

.link {
  color: #317589a1;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.25rem;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
  display: inline-block;
}

.link:hover {
  color: coral;
  transform: scale(1.1);
}

.link-button {
  background-color: #317589a1;
  padding: 0.5rem 0.75rem;
  border-radius: 50%;
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
}

.link-button:hover {
  color: white;
  background-color: coral;
  transform: scale(1.1);
}

/* HTML element classes */
.cards {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
  box-sizing: border-box;
  width: 100%;
}

.card {
  margin: 1rem;
  border: 1px solid lightgray;
  border-top-width: 2px;
  border-left-width: 2px;
  border-radius: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
  max-width: 300px;
  width: 100%;
  box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
  text-align: center;

  transition: transform 200ms ease-in-out;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.card-big {
  max-width: 400px;
}

.header {
}

.title {
  padding-right: 0.5rem;
}

.status {
}

.picture {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.info {
  border-bottom: 2px solid lightgray;
  border-radius: 0.5rem;
  padding: 0 1rem 0.5rem 1rem;
}

.species {
}

.gender {
}

.location {
}

.load-more {
  padding: 0.5rem 1rem;
  color: white;
  background-color: #317589a1;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.5rem;
  border: 0;
  cursor: pointer;
}